extends layout.pug

include errors

block title
    | #{__('add')}

block content
    +errors(errors)
    

    div(class="row")
        div(class="col")
            h4 #{__('Menu')}
            table(class='table table-striped')
                tbody
                    form(method="POST" action="/admin/Dish" class="form-inline")
                        input(type="hidden" name="_csrf" value=csrf)
                        tr
                            td
                            td
                                p Nom du plat
                            td
                                p Type du Plat
                            td
                                p Description
                            td
                                p Prix
                            td


                        tr
                            td
                                p Ajout d'un plat
                            td
                                input(
                                    class="form-control" 
                                    type="text" 
                                    name="name"
                                    minlength=5
                                    maxlength=50)
                            td
                                    select(name="type")
                                        option(value='starters') entrée
                                        option(value='dishes') plat
                                        option(value='deserts') dessert
                            td
                                input(
                                    class="form-control" 
                                    type="text" 
                                    name="desc"
                                    minlength=10
                                    maxlength=400)
                            td
                                input(
                                    class="form-control" 
                                    type="text" 
                                    name="price"
                                    minlength=1
                                    maxlength=5)
                            td
                                button(class="btn btn-primary" type="submit") #{__('Add')}