extends layout.pug

include errors

block title
    | #{__('Administration')}

block content
    +errors(errors)

    input(type="hidden" name="_csrf" value=csrf)
    

    div(class="row")
        div(class="col")
            h4 #{__('Menu')}
            table(class='table table-striped')
                tbody
                    form(method="POST" action="/admin/Dish" class="form-inline")
                        tr
                            td
                                p Ajout d'un plat
                            td
                                input(
                                    class="form-control" 
                                    type="text" 
                                    value=DishData.name
                                    name="name"
                                    minlength=5
                                    maxlength=30)
                            td
                                    select(name="type")
                                        option(value='starters') entrées
                                        option(value='dishes') plats
                                        option(value='deserts') desserts
                            td
                                input(
                                    class="form-control" 
                                    type="text" 
                                    value=DishData.desc
                                    name="desc"
                                    minlength=10
                                    maxlength=100)
                            td
                                input(
                                    class="form-control" 
                                    type="text" 
                                    value=DishData.price
                                    name="price"
                                    minlength=1
                                    maxlength=5)
                            td
                            button(class="btn btn-primary" type="submit") #{__('Add')}

table(class='table table-striped')
                tbody
                    form(method="POST" action="/admin/comment" class="form-inline")

                        tr
                            td 
                                p Ajout d'un commentaire
                            td 
                                input(
                                    class="form-control" 
                                    type="text" 
                                    value=CommentData.text
                                    name="text"
                                    minlength=1
                                    maxlength=200)
                            td
                            button(class="btn btn-primary" type="submit") #{__('Add')}


                            

        div(class="col-8")
            h4 #{__('Comment')}
            table(class='table table-striped')
                tbody
                    form(
                        method="POST" 
                        action="/admin/commentaires" 
                        class="form-inline")
                        input(type="hidden" name ="_csrf" value=csrf)
                        tr
                            td
                                input(
                                    class="form-control" 
                                    type="date"
                                    value=CommentData.date
                                    name="date")
                            td
                                select(class="form-control" name= "dish0" required)
                                    each dish in dishes
                                        option(
                                            value=dish._id 
                                            selected=dish._id./*equals(matchData.team0))*/#{dish.name})
                            td
                                input(
                                    class="form-control" 
                                    type="number" 
                                    value=matchData.score0
                                    name="score0")
                            td
                                input(
                                    class="form-control" 
                                    type="number" 
                                    value=matchData.score1
                                    name="score1")
                            td
                                select(class="form-control" name= "team1")
                                    each team in teams
                                        option(
                                            value=team._id 
                                            selected=team._id.equals(matchData.team1)) #{team.name}
                            td
                                button(class="btn btn-primary" type="submit") #{__('Add')}
                    each match in matches
                            tr
                                td #{dateFormat(match.date, __('dateFormat'))}
                                td #{match.teams[0].name}
                                td #{match.scores[0]} 
                                td #{match.scores[1]}
                                td #{match.teams[1].name}
                                td
                                    form(action="/admin/deleteMatch")
                                        button(class="btn btn-danger" type="submit")
                                            i(class="material-icons") delete
