table(class='table table-striped' border='0')
                th Ajout d'un commentaire

                tbody
                    form(method="POST" action="/admin/comment")
                        input(type="hidden" name="_csrf" value=csrf)
                        input(type="hidden" name="wname" value=loggedUser.username)
                        tr
                            td 
                                input(
                                    class="form-control" 
                                    type="text" 
                                    name="text"
                                    minlength=1
                                    maxlength=200)
                        tr
                            td  
                                button(class="btn btn-primary" type="submit") #{__('Add')}