mixin dishesToDel(dishesToDel)
    table(class="table table-striped")
        thead(class="thead-dark")
            tr
                th
                th #{__('name')}
                th #{__('type')}
                th #{__('desc')}
                th #{__('prix en €')}
                th
        tbody
            each dish in dishesToDel
                tr
                    td
                    td #{dish.name}
                    td #{dish.type}
                    td #{dish.desc}
                    td #{dish.price}
                    td
                        form(action="/admin/delDish")
                                        button(class="btn btn-danger" type="submit" value=dish._id)
                                            i(class="material-icons") delete